.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2.5rem;
  padding: 0.5rem 0;
}
.img_header_icon {
  width: 65px;
  height:32px;
  cursor: pointer;
}

.header-left {
  display: flex;
  align-items: center;
}

a > span {
  margin: 0 30px;
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
}
.linkdeco {
  text-decoration: none;
}
